
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}
body {
    background-image: url(../construccion.gif);
    background-size: 100% 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 500%;
    color: black;
    font-style: oblique;
    font-family: serif;
    
}
.title2{
    font-size: 400%;
    color: black;
    font-style: oblique;
    font-family: serif;
    
}

.m-b-md {
    margin-bottom: 30px;
}
.esp{
    padding: 8%;
}
@media screen and (max-width: 800px) {
      .title{
           font-size: 400%;
        }
        .title2{
            font-size: 300%;
        }
        .esp{
            padding: 0;
        }
}
